*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    width: 40%;
    justify-content: space-around;
    border: 2px solid black;
    flex-direction: column;
    margin: 20px;
    height: 100px;
}
#like{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    margin-right: 10px;
}
#like>button{
    background-color: #FFD866;
    border: 2px black solid;
    box-shadow: 2px 2px;
    width: 40px;
}
#like>p{
    size: 18px;
    margin-left: 5px;
    font-weight: bold;
}
p{
    margin-left: 5px;
}
