#calculator{
    background-color: slategrey;
    width: 230px;
    height: 310px;
    margin: 0 auto;
    color: white;
    padding: 10px;
}
button{
    border-radius: 50%;
    color: white;
    background-color: silver;
    width: 50px;
    height: 50px;
    border: 1px silver solid;
    font-size: xx-large;
}
.operator{
    background-color: orange;
}
.row{
    margin: 3px ;
    margin-top: 5px;
}
#display{
    padding: 10px;
    border: white 1px solid;
    height: 15px;
}