

img {
    width: 90px;
    height: 90px;
}
#name{
    font-weight: Bold;
    font-size: 24px;

}
#ad{
    font-size: 16px;
    font-weight: light;
    display: inline-block;

}
#ad{
    width: 15px;
    height: 15px;
}
#gear{
    height: 30px;
    width: 30px;    
}
a{
    margin-left: 10px;
    color:#095393;
}
#card{
border: 3px solid black;
width: 400px;
height: 350px;
margin: 100px;
padding: 50px;
background-image: linear-gradient(180deg,#095393 25%,white 15%);
}
